@model List<Capstone.Web.Models.BeerRatingModel>

@{
    ViewBag.Title = "BeerRating";
    int totalRating = 0;
    double averageRating = 0;

}

@foreach (var rating in Model)
{
    totalRating += rating.BeerRating;
    averageRating = Math.Round(((double)totalRating / Model.Count), MidpointRounding.AwayFromZero);
}
@if (Model.Count != 0)
{
<div class="currentRatings">
    <p>Current Rating:</p>
    @for (int i = 0; i < averageRating; i++)
    {
        <img style="display:inline-block" class="testIMG" src="~/Content/IMGS/star.png" />     
    }
</div>
}


@if (User.IsInRole("Admin") || User.IsInRole("Enthusiast") || User.IsInRole("Brewer"))
{
    <div class="userRatings">
        <p >Rate this beer:</p>
        <form method="post" action="@Url.Action("BeerRating", "Home")" class="beerRatingForm">
            <input type="hidden" name="BeerId" value="@ViewBag.BeerId" />
            <select name="BeerRating" class="ratingSelect">
                <option value="1">One Star</option>
                <option value="2">Two Stars</option>
                <option value="3">Three Stars</option>
                <option value="4">Four Stars</option>
                <option value="5">Five Stars</option>
            </select>
            <button class="ratingsButton">Submit</button>
        </form>
    </div>
    
}