@model List<Capstone.Web.Models.BeerRatingModel>

@{
    ViewBag.Title = "BeerRating";
    int totalRating = 0;
    int averageRating = 0;

}

@foreach(var rating in Model)
{
    totalRating += rating.BeerRating;
    averageRating = (totalRating / Model.Count);
}

<p>@averageRating</p>