@model Capstone.Web.Models.BreweryModel

@{

}

<div class="container">

    <div id="breweryInfo">

        <img id="brewerProfileImg" src='@Model.BreweryProfileImg'>

        <div class="brewInfoTxt">
            <h1>@Model.BreweryName</h1>

            <h2>Founded in: @Model.YearFounded</h2>

            <p>@Model.History</p>
        </div>
    </div>

</div>

