@model Capstone.Web.Models.BreweryModel

@{

}

<div class="container">

    <img id="brewerProfileImg" src="@Model.BreweryProfileImg">

    <div id="breweryInfo">

        <h1>@Model.BreweryName</h1>

        <h2>Founded in: @Model.YearFounded</h2>

        <h3>@Model.History</h3>

    </div>


</div>

