@{
    ViewBag.Title = "Home";    
}

<div class="container">
    @if (!User.IsInRole("Admin") && !User.IsInRole("Enthusiast") && !User.IsInRole("Brewer"))
    {
        if (Request.Cookies["Over21"] == null || Request.Cookies["Over21"].Value != "true")
        {
            <div class="ageCheckerDiv">
                <div class="ageCheck">
                    <p>You must be 21 to use this site.</p>
                    <p>Please enter your birthdate.</p>
                    <div class="ageCheckerContainer">
                        <input class="ageCheckerForm" type="date" name="ageCheckerForm" autofocus />
                    </div>
                </div>
            </div>
        }}
    <div class="searchBarDiv">
        <div class="searchBarForm">
            <input autofocus class="searchBar" type="search" name="SearchString" placeholder="Search for a beer or brewery" autocomplete="off" />
        </div>
        <div class="searchResultsPage">
            <div class="searchResults"></div>
        </div>
    </div>
</div>