@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="ageCheckerDiv">
        <div class="ageCheck">
            <p>Are you 21?</p>
            <div class="ageCheckerContainer">
                <input class="ageCheckerForm" type="date" name="ageCheckerForm" autofocus />
            </div>
        </div>
    </div>
    <div class="searchBarDiv">
        <div class="searchBarForm">
            <input autofocus style="text-align: center" class="searchBar" type="search" name="SearchString" placeholder="Search for beers or breweries" autocomplete="off" />
        </div>
        <div class="searchResultsPage">
            <div class="searchResults"></div>
        </div>
    </div>
</div>