@{
    ViewBag.Title = "Home";
}

<div class="container">
    @if (!User.IsInRole("Admin") && !User.IsInRole("Enthusiast") && !User.IsInRole("Brewer"))
    {
        if (Request.Cookies["Over21"] == null || Request.Cookies["Over21"].Value != "true")
        {
            <div class="ageCheckerDiv">
                <div class="ageCheck">
                    <p>Are you 21?</p>
                    <div class="ageCheckerContainer">
                        <input class="ageCheckerForm" type="date" name="ageCheckerForm" autofocus />
                    </div>
                </div>
            </div>
        }
    }
    <div class="searchBarDiv">
        @if(Request.Cookies["SearchInstructions"] == null || Request.Cookies["SearchInstructions"].Value != "true") 
        {
        <div class="searchInstructions">
            <p id="searchInstructionWords">Search by location? Simply type 'near' and the location!</p>
            <div id="closeBox" onclick="CloseBox()">&times;</div>
            <div class="triangle" id="triangle"></div>
        </div>
        }
        <div class="searchBarForm">
            <input autofocus class="searchBar" type="search" name="SearchString" placeholder="Search for a beer, brewery, or location" autocomplete="off" />
        </div>
        <div class="searchResultsPage">
            <div class="searchResults"></div>
        </div>
    </div>
</div>