@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    @*<div class="ageCheckerDiv">
        <p class="">Please Enter your BirthDate</p>
    </div>*@
    <div class="searchBarDiv">
        <form>           
            <input style="text-align: center" class="searchBar" type="search" placeholder="Search for beers or breweries" />
        </form>
    </div>
</div>