@{
    ViewBag.Title = "Home";
}

<div class="container">
    @if (!User.IsInRole("Admin") && !User.IsInRole("Enthusiast") && !User.IsInRole("Brewer"))
    {
        if (Request.Cookies["Over21"] == null || Request.Cookies["Over21"].Value != "true")
        {
            <div class="ageCheckerDiv">
                <div class="ageCheck">
                    <p>Are you 21?</p>
                    <div class="ageCheckerContainer">
                        <input class="ageCheckerForm" type="date" name="ageCheckerForm" autofocus />
                    </div>
                </div>
            </div>
        }
    }
    <div class="searchBarDiv">
        @*<div class="searchBarForm">*@
        <div class="howToSearch">
            <p>Here is how to search</p>
            <div class="triangle" id="triangle"></div>
        </div>
            <input autofocus class="searchBar" type="search" name="SearchString" placeholder="Search for a beer, brewery, or location" autocomplete="off" />
        @*</div>*@
        <div class="searchResultsPage">
            <div class="searchResults"></div>
        </div>
    </div>
</div>