@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="ageCheckerDiv">
        <input class="ageCheckerForm" type="date" name="ageCheckerForm"/>
        <button id="ageSubmit">Submit</button>
    </div>
    <div class="searchBarDiv">
        <form>           
            <input style="text-align: center" class="searchBar" type="search" placeholder="Search for beers or breweries" />
        </form>
    </div>
</div>