@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @*<div class="ageCheckerDiv">
        <input class="ageCheckerForm" type="date" name="ageCheckerForm" />
        <button id="ageSubmit">Submit</button>
    </div>*@
    <div class="searchBarDiv">
        <form class="searchBar">
            <input style="text-align: center" class="hi" type="search" name="SearchString" placeholder="Search for beers or breweries" />
        </form>     
    </div>
</div>