@model Capstone.Web.Models.SearchResultsModel

@{
    ViewBag.Title = "ListPage";

}

<div class="container">

    <div class="searchBar"></div>
    <div class="searchResults">
        @foreach (var brewery in Model.Breweries)
        {
            <a href="@Url.Action("BreweryInfo", "Home")">@brewery.BreweryName</a>
        }
        @foreach (var beer in Model.Beers)
        {
            <p>@beer.BeerName</p>
        }
    </div>
</div>


