@model Capstone.Web.Models.SearchResultsModel

@{
    ViewBag.Title = "ListPage";

}

<div class="container">
    
    
    <div class="searchList">       

        @foreach(var brewery in Model.Breweries)
        {
            <p>@brewery.BreweryName</p>
        }
        @foreach(var beer in Model.Beers)
        {
            <p>@beer.BeerName</p>
        }

    </div>
</div>


