@*@model Capstone.Web.Models.SearchResultModel*@
@model HashSet<Capstone.Web.Models.BreweryModel>



@{
    ViewBag.Title = "ListPage";

}

<div class="container">
    
    
    <div class="searchList">
       @*<p>@Model.SearchString</p>*@
       
       @foreach (var brewery in Model)
       {
          <p>@brewery.BreweryName</p>
       }

    </div>
</div>


