@*@model Capstone.Web.Models.SearchResultModel*@
@model Capstone.Web.Models.BreweryModel












@{
    ViewBag.Title = "ListPage";

}

<div class="container">
    
    <div class="searchList">
       @*<p>@Model.SearchString</p>*@
       <p>@Model.BreweryName</p>

    </div>
</div>


