@model Dictionary<string, Capstone.Web.Models.BreweryModel>

@{
    ViewBag.Title = "ListPage";

}

<div class="container">
    
    
    <div class="searchList">       
       @foreach (var kvp in Model)
       {
          <p>@kvp.Value.BreweryName</p>
       }

    </div>
</div>


