@model List<string>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form class="addBeerForm" method="post" action="@Url.Action("AddBeer", "Brewer")">
    <input name="breweryName" type="text" placeholder="Enter A Brewery" />
    <input name="beerName" type="text" placeholder="Enter A Beer Name" />
    <select>
        @foreach (var beerType in Model)
        {
            <option>@beerType</option>
        }
    </select>
    <input name="beerDescription" type="text" placeholder="Enter A Beer Description" />
    <input name="abv" type="text" placeholder="Enter AN ABV" />
    <input name="ibu" type="text" placeholder="Enter AN IBU" />
    <input name="dateBrewed" type="date" placeholder="Enter A date brewed" />
    <input name="beerLabelImg" type="text" placeholder="Enter A an image url" />
    <button type="submit">Submit</button>
</form>
