@model Capstone.Web.Models.ListOfBreweryNamesAndBeerTypesModel
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Index</h2>

<form class="addBeerForm" method="post" action="@Url.Action("AddBeer", "Brewer")">
    <select>
        @foreach (var breweryName in Model.BreweryNames)
        {
            <option>@breweryName</option>
        }
    </select>    <input name="beerName" type="text" placeholder="Enter A Beer Name" />
    <select>
        @foreach (var beerType in Model.BeerTypes)
        {
            <option>@beerType</option>
        }
    </select>
    <input name="beerDescription" type="text" placeholder="Enter A Beer Description" />
    <input name="abv" type="text" placeholder="Enter AN ABV" />
    <input name="ibu" type="text" placeholder="Enter AN IBU" />
    <input name="dateBrewed" type="date" placeholder="Enter A date brewed" />
    <input name="beerLabelImg" type="text" placeholder="Enter A an image url" />
    <button type="submit">Submit</button>
</form>


<form class="addBreweryForm" method="post" action="@Url.Action("AddBrewery", "Brewer")">
    <input name="BreweryName" type="text" placeholder="Enter A Brewery Name" />
    <input name="BreweryAddress" type="text" placeholder="Enter A Brewery Address" />
    <input name="BreweryCity" type="text" placeholder="Enter A City" />
    <input name="BreweryPostalCode" type="text" placeholder="Enter A Postal Code" />
    <input name="BreweryDistrict" type="text" placeholder="Enter A District" />
    <input name="BreweryCountry" type="text" placeholder="Enter A Country" />
    <input name="History" type="text" placeholder="Enter A Brief History of Your Brewery" />
    <input name="YearFounded" type="text" placeholder="What Year was the Brewery Founded" />
    <input name="BreweryProfileImg" type="text" placeholder="Enter A an Profile Image URL" />
    <input name="BreweryBackgroundImg" type="text" placeholder="Enter A Background Image url" />
    <input name="BreweryHeaderImage" type="text" placeholder="Enter A Header Image url" />
    <button type="submit">Submit</button>
</form>