*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
    --headerFont: 'Archivo Black', sans-serif;
    --bodyFont: 'Archivo Narrow', sans-serif;
    --mainColor: white;
    --secondaryColor: black;
    --headerHeight: 50px;
}

input, select{
    text-align: center;
    width: 90%;
    height: 30px;
    font-size: 15px;
    text-align-last: center;
}



/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

/**********************************************HOMEPAGE INDEX***************************************/
header {
    background-color: black;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 500;
}

.navLinks {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

.headerLinks {
    position: absolute;
    right: 20px;
    top: 10px;
}

#logo{
    box-sizing: content-box;
    padding: 12px;
    width: auto;
    height: 70px;

}

#registerLink {
    text-decoration: none;
    color: white;
    text-align: right;
    font-family: var(--headerFont);
    padding-right: 20px;
    z-index: 100;
}

#loginLink {
    text-decoration: none;
    color: white;
    text-align: right;
    font-family: var(--headerFont);
    z-index: 500;
}

.links {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.links li a {
    font-family: var(--bodyFont);
    text-decoration: none;
    color: gray;
    margin-right: 1rem;
}


.backgroundMain{
    /*background-image: url('IMGS/TestBackground.jpeg');*/   
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.searchBarDiv{
    height: 100vh;
}

.searchBar {
    border-radius: 25px;
    border: 1px solid white;
    padding: 5px 5px 5px 5px;
    border-width: 2px;
    height: 50px;
    width: 35%;
    background-color: black;
    color: white;
    font-family: '';
    font-size:larger;
    position:absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    z-index: 10;  
}

.searchBar:focus {
    outline: none;
}

.searchBar.top {
    top: 100px;
    transition-duration: 500ms;
}

.ageCheckerDiv {
    height: 15vh;
    width: 20%;
    background-color: black;
    color: white;
    font-size: larger;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 100;
    padding-left:inherit 40%;
    padding-right: 40%;
    border: 1px solid white;
    border-radius: 5px;
}

.ageCheck {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}


.ageWarning {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}



.barVid{
    position: fixed;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}
/******************************************END HOMEPAGE INDEX***************************************/

/*******************************************RESULTS LIST***********************************************/

.searchResultsPage {
    height: 70%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.results {
    position: relative;
    left: -130%;
    height: 130px;
    width: 70vw;
    background-color: rgba(220, 220, 220, .9);
    margin-top: 15px;
    overflow: hidden;
    box-shadow: 0 10px 10px -10px rgba(30, 30, 30, .5);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.searchResults a{
    text-decoration: none;
}

.breweryResults{
    height: 200px;
}

.breweryImage{
    height: 200px;
    width: 50%;
    object-fit: cover;
}

.beerImage{
    height: 130px;
    width: auto;
    object-fit: contain;
}

.breweryName, .beerName {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    bottom: 0;
    left: 1rem;
    color: rgba(255, 255, 255, .9);
    font-size: 2rem;
    font-family: var(--headerFont);
    text-shadow: 2px 2px 2px rgba(30, 30, 30, .8);
    width: 50%;
}

.breweryHistory, .beerDescription {
    width: 50%;
    color: var(--secondaryColor);
    font-family: var(--bodyFont);
    font-size: .85rem;
    padding: 10px;
    text-shadow: .2px 1px 0px rgba(200, 200, 200, .8);
}



.notFoundResults {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.notFound {
    font-size: 2rem;
    font-family: var(--bodyFont);

}


/***************************************END RESULTS LIST***********************************************/

/******************************************BREWERY INFO***************************************/

#breweryProfileImg {
    margin: 10px;
    border-radius: 5px;
    width: 50%;
    height: 94%;
    object-fit: cover;
    display: inline-block;
    box-shadow: 0px 2px 2px rgba(30, 30, 30, .5);
}

#breweryInfo {
    width: 75%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(220, 220, 220, .8);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .5);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

    #breweryInfo h1, h2 {
        margin: auto;
        font-family: var(--headerFont);
        text-shadow: 2px 2px 2px rgba(30, 30, 30, .8);
    }

    #breweryInfo .brewInfoTxt {
        display: inline;
        width: 75%;
        margin: 10px;
        margin-top: 0;
        font-family: var(--bodyFont);
        color: var(--secondaryColor);
        text-shadow: .2px 1px 0px rgba(200, 200, 200, .8);
        position: relative;
    }

/******************************************END BREWERY INFO***********************************/


/****************************************** REGISTRATION PAGE ********************************/

.registerFormContainer {
    width: 25%;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid white;
    height: 30%;
    
}

.registerForm {  
    height: 100%;
    width: 100%;   
    text-align: center;
}

.registerHTag {
    padding-bottom: 15px;
    font-size: 20px;
}

.registrationInput {
    color: black;
    text-align: center;
    display: block;
    padding-bottom: 5px;
}

.registrationValidation {
    width: 100%;
    color: red;
    padding-bottom: 5px;
}

.registerSubmitBtn{
    background-color: rgb(124,33,17);
    height: 30px;
    width: 65px;
    border: 0px solid;
    margin-top: 10px;
    border-radius: 10%;
    box-shadow: white 1px 1px;
}





/****************************************** REGISTRATION PAGE ********************************/


/********************************************* LOGIN PAGE ************************************/
.loginFormContainer {
    width: 25%;
    height: 30%;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid white;
    
}

.loginForm {
    height: 100%;
    width: 100%;
    text-align: center;
}

.loginHTag {
    padding-bottom: 15px;
    font-size: 20px;
}




.loginInput {
    color: black;
    text-align: center;
    display: block;
    padding-bottom: 5px;
}

.loginValidation {
    width: 100%;
    color: red;
    padding-bottom: 5px;
}

.checkBox{
    height: 20px;
}

.loginSubmitBtn {
    background-color: rgb(124,33,17);
    height: 30px;
    width: 65px;
    border: 0px solid;
    margin-top: 10px;
    border-radius: 10%;
    box-shadow: white 1px 1px;
}

.regAsNewUserLink{
    padding-top: 5px;
}





/********************************************* LOGIN PAGE ************************************/




/******************************************BREWERY OWNER***************************************/

.viewTwo.hidden, .viewOne.hidden, .userInfo.hidden {
    display: none;
}

.submitter {
    height: 30px;
    background-color: white;
    float: right;
}

.userViewContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--bodyFont);
}

.userInformationContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

.userActionsContainer {
    width: 800px;
    height: 450px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid white;
}

.userActions {
    width: 98%;
    height: 92%;
    background-color: black;
    border: 1px solid white;
    border-left: none;
    margin: 1rem 1rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.listActions {
    list-style: none;
    color: white;
    height: 92%;
    width: 140px;
    display: table-cell;
    vertical-align: middle;
    font-family: var(--bodyFont);
}

.listActions > li {
    background-color: black;
    padding: 1rem 0;
    display: table;
    border: 1px solid white;
    border-left: none;
    border-collapse: collapse;
    height: 60px;
    width: 100%;
    text-align: center;
}

li#spaceFiller {
    height: 100%;
    color: transparent;
}

.listActions li:hover {
    cursor: pointer;
}

#listActionOne.focus, #listActionTwo.focus, #listActionThree.focus, #listActionFour.focus {
    border-right: none;
}

.userInfo{
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
}

.userInfoList {
    position: relative;
    list-style: none;
    left: 2rem;
    top: 1rem;
}

#icon {
    width: 150px;
    height: 150px;
    background-color: gray;
    position: absolute;
    top: 1rem;
    right: 1rem;
}


.viewTwo, .viewOne {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    height: 50%;
    width: 300px;
}

.viewTwo > input, .viewOne > input, .viewOne > select {
    width: 100%;
}
   


/**************************************END BREWERY OWNER***************************************/

/******************************************BEER INFO***************************************/

#beerInfo {
    width: 75%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(220, 220, 220, .8);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .5);
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.beerLabelImgContainer {
    width: 25%;
    height: 100%;
}

.beerLabelImg {
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#notSupplied {
    position: absolute;
    bottom: 0;
}

#beerInfo h1 {
    margin: auto;
    font-family: var(--headerFont);
    text-shadow: 2px 2px 2px rgba(30, 30, 30, .8);
}

.beerInfoTxt {
    display: inline;
    width: 70%;
    margin: 10px;
    margin-top: 0;
    font-family: var(--bodyFont);
    color: var(--secondaryColor);
    text-shadow: .2px 1px 0px rgba(200, 200, 200, .8);
    position: relative;
}


.beerTd{
        padding: 5px 15px 5px 15px;
        border-bottom: 1px solid black;
}
.contactInfo{
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
}
.brewPhone {
    text-align: right;
    padding-right: 5px;
    float: right;
}


/******************************************END BEER INFO***********************************/



