
@{
    ViewBag.Title = "BreweryOwner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BreweryOwner</h2>
<form class="addBeerForm">
    <input name="breweryName" type="text" placeholder="Enter A Brewery" />
    <input name="beerName" type="text" placeholder="Enter A Beer Name" />
    <input name="beerDescription" type="text" placeholder="Enter A Beer Description" />
    <input name="beerABV" type="text" placeholder="Enter A ABV" />
    <input name="beerIBU" type="text" placeholder="Enter A IBU" />
    <input name="beerDate" type="date" placeholder="Enter A date brewed" />
    <input name="beerImageUrl" type="text" placeholder="Enter A an image url" />
    <button type="submit">Submit</button>
</form>

