<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/Javascript.js"></script>
</head>
<body>
    <header>
        <nav>
            @Html.Partial("_LoginPartial")
        </nav>
    </header>
    

    <main class="backgroundMain">
        <video autoplay loop class="barVid">
            <source src="http://res.cloudinary.com/yyy32pf/video/upload/eo_18/v1523302267/Brewery%20Search/735339073.mp4" type="video/mp4"/>
        </video>
        @RenderBody()
    </main>

    @RenderSection("scripts", required: false)
</body>
</html>
